.employee-active {
    background-color: rgb(163, 228, 206) !important;
    color: #ffffff !important;
}

.employee-inactive {
    background-color: rgb(218, 188, 144) !important;
    color: #ffffff !important;
}