
<div class="row"> 
    <div class="col-md-8">
        <p-table [value]="employees">
  
            <ng-template pTemplate="header">
          
                <tr>
          
                    <th>ID</th>
          
                    <th>Name</th>
          
                    <th>Date Of Birth</th> 
        
                    <th> Active</th>
        
                    <th> Action</th>     
          
                </tr>
          
            </ng-template>
          
            <ng-template pTemplate="body" let-employee>
          
                <tr>
          
                    <td>{{employee.id}}</td>
          
                    <td>{{employee.name}}</td>
          
                    <td>{{employee.dateOfBirth}}</td> 
        
                    <td [ngClass]="employee.active? 'employee-active' : 'employee-inactive'"><span *ngIf="employee.active">Yes</span><span *ngIf="!employee.active">No</span></td>   
                    <td><button class="btn btn-primary btn-xs" (click)= editEmployeeDetails(employee)>Edit</button></td>   
                      
          
                </tr>
          
            </ng-template>
          
          </p-table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>


  
