<div class="form-group">
    <label for="name">Employee Name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      [(ngModel)]="selectedEmployee.name">
  </div>
  <div class="form-group">
    <label for="active">Employee Status</label>
    <select
      id="active"
      class="form-control"
      [(ngModel)]="selectedEmployee.active">
      <option [ngValue]="true">Active</option>
      <option [ngValue]="false">Inactive</option>
    </select>
  </div>
  
  <button
    class="btn btn-primary"  (click)="onUpdateEmployee()">Update Employee
  </button>
